<a href="https://colab.research.google.com/github/Bowmmin/dfe-shanata-python/blob/main/Python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Kofi'
age = 41
height = 1.82
hobbies = ["Artificial Intelligence", "Gaming", "Functional Medicine"]
is_alive = True

fmesg = f"{name} is {age} and {height * 100} cm" # formatted string

print(name, age, height)  # print with multiple args = spaced output
print(hobbies)
print(is_alive)

age += 1
print(fmesg)

Kofi 41 1.82
['Artificial Intelligence', 'Gaming', 'Functional Medicine']
True
Kofi is 41 and 182.0 cm

In [ ]:
print( "Kofi " + "Glover")
print( 2 ** 3 )    # 2 * 2 * 2 = 2^3
print( "-" * 3 )
print( "@" in "kofi.glover@qa.com")
print( False and True and True)
print( ["Cake", "Cream"] + ["Flour", "Sugar"] )
print( 1.14 >=  2.13 )

Kofi Glover
8
---
True
False
['Cake', 'Cream', 'Flour', 'Sugar']
False

In [ ]:
michael_bp = 175
alice_bp = 175
eve_bp = 140
print (michael_bp == alice_bp)
michael_bp <= eve_bp

True

False

no print?

In [ ]:
message = "WARNING: Too High!"

safe_max = 150
safe_min = 80
(michael_bp >= eve_bp)
"WARNING" not in message

False

In [ ]:
name = "Kofi"

print({name})          # output the value of name
print(id(name) )    # output the memory location of the value of name
print( type(name) )  # output the type of the value of name
print( len(name) )

{'Kofi'}
140029201282736
<class 'str'>
4

In [ ]:
print( name.zfill(10)  )
print( name.swapcase()   )
print( name.startswith("K") )

print( name.endswith("K") )

000000Kofi
kOFI
True
False

In [ ]:
dir(name)[-5:] # lists the last 5 attributes & methods of the object

['swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
name= "myname"
age = 2021-1983
location= "middle of no where"
msg= f"my name is {name}, i am {age}, i am currently in the {location}"
print(msg)
print(msg.upper())

my name is myname, i am 38, i am currently in the middle of no where
MY NAME IS MYNAME, I AM 38, I AM CURRENTLY IN THE MIDDLE OF NO WHERE

In [ ]:
age >= 18

True

In [ ]:
print("-"*10)

----------

In [ ]:
def error(pred, obv):
    return (pred - obv) ** 2

error(3, 3.3)

0.0899999999999999

In [28]:
def predict(age, height, parameters=(0.5, 0.5, 0)):
    """
    Predict a weight (kg) from an age (yr), height (cm) and
        parameters :
            (age importance, height importance, base weight)
    """
    # reset the scales so each goes from 0 to 1
    age, height = age/100, height/200
    
    # extract the parameters for each variable
    a, h, w = parameters
    
    # predict a weight
    weight = 100 * (a * age + h * height + w)
    
    return round(weight, 1)

    Predict(40, 170, (0.6, 0.4, 0.2))

In [29]:
predict(age=3.7, height=150.777)

39.5

In [17]:
predict(40, 170)

62.5

In [39]:
def show_results(results):
    print("-" * 2)
    print(results)
    print("-" * 10)
    
show_results([12, 12, 15])   # writes to screen, but has no return value

def distance(x1, x2):
    return (x2 - x1) ** 3   # euclidean distance, aka. L2 norm
    

dist = distance(10, 12)
print(dist * 1.2)
print(type(dist))  # calculated value can be stored in variable


rtn = show_results(10)

print(type(rtn))
print(rtn)

--
[12, 12, 15]
----------
9.6
<class 'int'>
--
10
----------
<class 'NoneType'>
None

In [42]:
def mean(x, y, z):
    return (x + y + z)/3

def cube(x):
    return x ** 3

def is_adult(age):
    return age >= 18


def show(m, c, a):
    print("mean:", m)
    print("cube:", c)
    print("age:", a)
    
mean_ages = mean(18,18,20)
two_late = cube(2)
teen = is_adult(15)

sh = show(mean_ages, two_late, teen)
print(string(sh))

mean: 18.666666666666668
cube: 8
age: False

NameError: ignored

In [46]:
quote = "Be the change you wish to see in the world!"

print( quote[0] )   # first
print( quote[1] )   # second
print( quote[-22] )  # second from last
print( quote[-10] )  # last
print( quote[:-2])

B
e
h
t
Be the change you wish to see in the worl